.home-container {
  padding: 10px;
}

.home-container h1 {
  color: var(--ct-color-font-secondary);
  font-size: 24px;
  margin: 0;
  letter-spacing: 0.02em;
}

.home-container h2 {
  color: var(--ct-color-font-tertiary);
  font-size: 12px;
  margin-bottom: 27px;
  letter-spacing: 0.02em;
}

.start-button {
  width: 60px;
  height: 30px;
  border: 0;
  border-radius: 4px;
  background-color: var(--ct-color-bg-secondary);
  color: var(--ct-color-font-primary);
  font-size: 8px;
}

@media (min-width: 992px) {
  .home-container {
    padding: 27px 41px;
  }

  .home-container h1 {
    font-size: 48px;
  }

  .home-container h2 {
    font-size: 24px;
  }

  .start-button {
    width: 101px;
    height: 40px;
    font-size: 16px;
  }
}
